@import "variable";
@import "function";
@import "animation";
@import "input_form.scss";
@import "headermobile.scss";

.display_none {
    display: none;
}

.img_width {
    width: 100%;
}


body.crypto_landing_page_1 {
    background-color: #09111B;

    .Ellipse1039_2_png {
        display: none;
    }

    @extend .headermobi;
    ////////////////////////// main style 
    /// 
    /// 
    main.container-fluid {
        padding: 0px;

        div.main {
            margin-bottom: 100px;

            .back_site_blur {
                background: rgba(254, 254, 254, 0.08);
                backdrop-filter: blur(31.874464035px);
                height: 550px;
                position: relative;
                z-index: 0;
                top: 0px;

                .title_site {
                    padding-top: 100px;

                    .titr {
                        h1 {
                            background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.53) 76.52%);
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            text-align: center;
                            font-family: Futura_PT_normal;
                            font-size: 2rem;
                            line-height: 71.957px;
                            /* 120.401% */
                            text-transform: uppercase;
                            animation: slidein 1000ms ease 0s backwards;

                        }

                    }

                    .subtitr {
                        h4 {
                            background: linear-gradient(180deg, #FFF 61.11%, rgba(255, 255, 255, 0.00) 100%);
                            text-align: center;
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-family: Futura_PT_Light;
                            font-size: 1.5rem;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 57.614px;
                            animation: slidein 1200ms ease 0.75s backwards;
                        }
                    }

                    .text_p {
                        p {
                            color: #FFF;
                            text-align: center;
                            font-family: Futura_PT_Light;
                            font-size: 1.5rem;
                            font-style: normal;
                            font-weight: 450;
                            line-height: 71.957px;
                            /* 120.401% */
                            background: linear-gradient(180deg, #FFF 0%, rgb(41 40 40 / 53%) 76.52%);
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            animation: slidein 1200ms ease 1.5s backwards;
                        }
                    }

                    .star {
                        display: inline-block;
                        position: relative;
                        top: 120px;
                        left: 75%;
                        direction: rtl;
                        margin-right: 3.5%;
                        z-index: -2;
                    }

                    .cryptotter {
                        display: none;
                    }

                    .button_start {
                        @extend .buttom_mo;
                        animation: slidein_left 1200ms ease 2.5s backwards;

                    }

                    .circle_logo {
                        display: flex;
                        justify-content: center;
                        position: relative;
                        top: 60px;

                        img {
                            width: 28%;
                        }
                    }

                    @include mediamd {
                        .circle_logo {
                           
                            top: 93px;
                            img {
                                width: 20%;
                            }
                        }
                    }
                }
            }

            .svg_circle {
                position: absolute;
                top: 125px;
                z-index: -2;
                display: flex;
                width: 100%;
                justify-content: center;
            }

            .bitcoin {
                position: absolute;
                display: flex;
                width: 100%;
                justify-content: flex-start;
                top: 510px;
                z-index: -2;
                align-items: flex-end;
                img {
                    width: 30%;
                }
            }

            .image_57 {
                position: absolute;
                display: flex;
                width: 100%;
                justify-content: flex-end;
                top: 612px;
                z-index: -1;
                align-items: flex-start;

                img {
                    width: 33%;
                }

            }

            .image_4 {
                position: absolute;
                display: flex;
                width: 100%;
                justify-content: flex-start;
                top: 614px;
                z-index: -1;
                align-items: flex-start;
                padding-left: 12%;

                img {
                    width: 19%;
                }
            }

            .image_6 {
                position: absolute;
                display: flex;
                width: 100%;
                justify-content: center;
                top: 668px;
                z-index: -2;
                align-items: flex-start;

                img {
                    width: 20%;
                }
            }

            .svg_dark {
                position: relative;
                display: flex;
                width: 100%;
                z-index: -2;
                height: 340px;
                top: -51px;
            }

            .text_box {
                .titr2 {
                    h2 {
                        @extend .h2_style_mo;
                    }
                }

                .p_textbox {
                    margin-top: 15px;

                    p {
                        @extend .p_style_mo;
                    }
                }
            }

            .boximg_logo {
                @extend .display_none;

                img {
                    border-radius: 23.906px;
                    background: var(--shade-of-blue-900, #0F1A27);
                    padding: 31.874px 43.914px 80.682px 44.912px;
                }
            }
            .boximg_logo_mobile {
                text-align: center;
            }

            //component 2
            .boximg_tabel_crypto {
                animation: slidein_left 1200ms ease 1s backwards;

                img {
                    width: 100%
                }
            }

            .text_box_2 {
                .titr2 {
                    h2 {
                        @extend .h2_style_mo;
                    }
                }

                .p_textbox_2 {
                    margin-top: 15px;

                    p {
                        @extend .p_style_mo;
                    }
                }
            }

            //component 3
            .svg_component3 {
                display: none;
            }

            .text_box3 {
                .titr3 {
                    h2 {
                        @extend .h2_style_mo;
                    }
                }

                .p_textbox3 {
                    margin-top: 15px;

                    p {
                        @extend .p_style_mo;
                    }
                }

                .Managed_investing {
                    @extend .buttom_mo;
                    justify-content: flex-start;
                    margin-top: 25px;
                    margin-bottom: 29px;

                    a {
                        padding: 11px 0px 12px;

                    }
                }
            }

            .boxvideo {
                display: flex;
                flex-direction: column;
                align-items: center;

                svg {
                    position: absolute;
                    z-index: 1;
                    margin-top: 100px;
                }

                video {
                    width: 100%;
                    height: 300px;
                    border-radius: 23.906px;
                    background: var(--shade-of-blue-900, #0F1A27);
                }
            }


            @include medial992_1400 {
                .d_992_1400_none {
                    display: none;
                }
            }

            //component 4
            .background_image_comp4 {
                display: none;

            }

            .text_box4 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .titr4 {
                    h2 {
                        @extend .h2_style_mo;
                    }
                }

                .crypto_compony {
                    display: flex;
                    column-gap: 6%;
                    margin-top: 25px;
                    row-gap: 70px;
                    overflow: scroll;
                    width: 100%;
                }
            }

            //component 5
            .background_image_comp5 {
                display: none;
            }


            .text_box5 {
                background: rgb(65 65 68 / 54%);
                padding: 35px 5px 61px;
                margin: 0 11px;

                .titr5 {
                    h2 {
                        @extend .h2_style_mo;
                    }
                }

                .p_textbox5 {
                    margin-top: 15px;

                    p {
                        @extend .p_style_mo;
                        padding-right: 0px;
                    }
                }

                .Managed_investing {
                    @extend .buttom_mo;
                    margin-top: 25px;

                    a {
                        padding: 11px 17px 12px;
                    }
                }
            }

            .boximg_present {
                background: rgba(65, 65, 68, 0.32);
                height: 29vh;
                text-align: center;
                margin-top: 39px;

                img {
                    width: 100%;
                    position: relative;
                    top: -79px;
                }
            }

            //component 6
            .Group_h3 {
                display: none;
            }

            .text_box6 {
                display: flex;
                flex-direction: column;

                .titr6 {
                    h2 {
                        @extend .h2_style_mo;
                        text-align: center;
                        font-size: 32px;
                    }
                }

                .svg_textbox6 {
                    text-align: center;
                }

                .p_textbox6 {
                    margin-top: 15px;
                    margin-bottom: 20px;

                    p {
                        @extend .p_style_mo;
                        text-align: center;
                        padding-right: 0px;
                    }
                }

                .Managed_investing {
                    @extend .buttom;
                    justify-content: flex-start;
                    margin-top: 25px;

                    a {
                        padding: 11px 17px 12px;
                    }
                }
            }

            //component 7


            .background_join_toonie {
                height: 657px;
                background-image: url(../img/join_toonie.png);
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: 100%;
            }


            .text_box7 {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 325px;
                justify-content: flex-start;

                .titr7 {
                    padding: 20px;
                    text-align: center;

                    h2 {
                        @extend .h2_style_mo;
                        font-family: Futura_PT_Light;

                    }
                }

                .p_textbox7 {
                    padding: 0px 20% 0px 20%;
                    text-align: center;

                    p {
                        @extend .p_style_mo;
                        line-height: 22.312px;
                        /* 155.556% */
                        font-family: poppins_Thin;
                        text-align: center;

                    }
                }
            }


            //////responssive main site
        }
    }

    /////footer
    .background_image_footer {
        width: 100%;
        position: absolute;
        z-index: -2;

        img {
            width: 100%;
            position: absolute;
            z-index: -2;
        }
    }

    footer {
        padding: 8% 6% 10% 5%;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(1.3308639526367188px);

        .about_toonie {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            grid-gap: 18px;

            .about {
                padding-right: 20%;

                p {
                    color: var(--White-mute, #E8F1F2);
                    font-family: Futura_PT_normal;
                    font-size: 14.75px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 19.125px;
                    /* 150% */
                    margin-bottom: 0rem;
                }

            }

            .icons_so_madia {
                display: flex;
                column-gap: 10px;
            }
        }

        .lists_footer {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            grid-gap: 0px;

            .lists_col {
                width: 100%;

                .ul_list {
                    list-style: none;
                    padding-left: 0rem;

                    .header_li {
                        color: #FFF;
                        font-family: Futura_PT_normal;
                        font-size: 17.937px;
                        font-style: normal;
                        font-weight: 450;
                        line-height: normal;
                        letter-spacing: -0.319px;
                        margin-bottom: 14px;
                    }

                    .tag {
                        margin-bottom: 8px;

                        a {
                            color: #FFF;
                            font-family: Futura_PT_Light;
                            font-size: 15.75px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: normal;
                            letter-spacing: -0.255px;

                            &:hover {
                                border-bottom: 1px solid white;
                            }
                        }
                    }
                }
            }
        }

    }
}


//////////////////////////////page 2

body.crypto_landing_page_2 {
    background-color: #09111B;

    .Ellipse1039_2_png {
        display: flex; 
        justify-content: flex-end; 
        position: absolute;
        top: 164px; 
        width: 100%; 
        filter: blur(159.372314453125px);
        z-index: -1;
    }
    
    /* start header */
    .header {
        display: none;
        margin-top: 25px;
        z-index: 3;
        position: relative;
    }

    .mobile-header {
        height: 84px;
        align-items: center;
        display: flex;
        z-index: 3;
        position: fixed;
        width: 100%;
        background: #172a41;
    }

    .mob-heder-row {
        display: flex;
        align-items: center;
    }

    .ct-menu-mobile {
        display: flex;
        justify-content: flex-end;
        grid-gap: 25px;
        margin: 0px;
    }

    /* The sticky class is added to the header with JS when it reaches its scroll position */
    .header-Support {
        display: flex;
        position: relative;
        margin-right: 38px;
        margin-bottom: 14px;
    }

    .logo {
        margin-bottom: 20px;
    }

    .header-email {
        margin-right: -4px;
        padding-right: 45px;
    }

    .icon-header {
        font-size: 33px;
        color: #54febd;
        margin-left: 15px;
        line-height: 1;
    }

    .meta-header {
        font-family: 'iranyekan';
        font-size: 15px;
        color: #6c6c6c;
    }

    .list-item {
        display: flex;
        align-items: center;
    }

    .item {
        font-family: 'iranyekan';
        text-transform: uppercase;
    }

    .item::after {
        display: block;
        content: ' ';
        border-bottom: solid 5px #54febd;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        padding-bottom: 21px;
    }

    .item:hover:after {
        transform: scaleX(1);
    }

    .item::after:active {
        display: block;
        content: ' ';
        border-bottom: solid 5px #54febd;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        padding-bottom: 21px;
    }

    .item:hover:after:active {
        transform: scaleX(1);
    }

    /* dropdown */

    .menu-item-130 {
        position: relative;
        display: inline-block !important;
        display: block;
        padding: 0px 35px;
        color: #ffffff;
        text-decoration: none;
        font-size: 18px;
    }

    .sub-menu {
        display: none;
        position: absolute;
        right: -8px;
        top: 56px;
        background-color: #09111B;
        min-width: 12vw;
        z-index: 1;
        border-radius: 5px;
        list-style: none;
        padding: 0px;
    }

    .item:hover>.sub-menu {
        position: static;
        display: block;
    }

    .menu-item-130>.sub-menu>li {
        padding: 15px 15px;
        font-size: 16px;
        font-weight: 600;
        background-color: #09111B;
        color: #ffffff;
        border-radius: 5px;
        transition: 0.2s;
    }

    .menu-item-130>.sub-menu>li:hover {
        color: #fff;
        transition: 0.4s;
    }

    .icon-option {
        position: relative;
        left: 36px;
    }

    .header-button {
        border-radius: 4px;
        margin-right: 40px;
        margin-bottom: 32px;
        background-color: rgb(255, 255, 255);
        color: white;
        width: 160px;
        height: 46px;
        padding: 10px;
    }

    .header-button:hover {
        background-color: #1d1b4c;
    }

    .header-button>a {
        font-family: 'Yekan-Bakh-Bold';
        color: #1d1b4c;
        height: 38px;
        width: inherit;
        display: inline-block;
        font-size: 18px;
    }

    .header-button>a:hover {
        color: rgb(255, 255, 255);
    }

    /*end sub menu*/
    /* hader mobile */
    /* menu-bar-mobile css */
    .menu {
        height: 100vh;
        width: 68%;
        top: 0;
        left: -100%;
        transition: all 0.3s ease-in;
        background-color: #09111B;
        position: absolute;
        overflow: scroll;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            flex-direction: column;

            li {
                margin: 10px 7px;

                a {
                    display: block;
                    padding: 0px 35px;
                    color: #ffffff;
                    text-decoration: none;
                    font-size: 18px;
                }
            }
        }
        .logo {
            text-align: center;
            margin-top: 25px;
        }
        .sing_up_in {
            display: flex;
            row-gap: 13px;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            align-items: center;

            .Sign_Up {
                border-radius: 9.556px;
                padding: 5px 73px 7px;
                border: 0.597px solid #FFF;

                a {
                    color: var(--primary-bg-neutral-white, #FFF);
                    text-align: center;
                    /* Futura PT/mobile/body/demibold */
                    font-family: Futura_PT_normal;
                    font-size: 14px;
                    line-height: normal;
                }

            }

            .Sign_In {
                border-radius: 9.556px;
                padding: 5px 78px 7px;
                background: $btn_color;
                margin-bottom: 10px;

                a {
                    color: var(--primary-bg-neutral-white, #FFF);
                    text-align: center;
                    /* Futura PT/mobile/body/demibold */
                    font-family: Futura_PT_normal;
                    font-size: 14px;
                    line-height: normal;
                }
            }
        }
        
    }

    /* Show menu in open state */
    .show {
        left: -4px;
        transition: all 0.3s ease-in;
        z-index: 10;
    }

    .menu-btn {
        width: 30%;
        position: relative;
        left: -8%;
        z-index: 11;
        border: solid #9d9d9d 0px;
        border-radius: 8px;
        top: -2px;
        display: block;
        background: #172a41;
    }


    ////////////////////////// main style 
    /// 
    /// 
    main.container-fluid {
        padding: 0px;

        div.main {
            margin-bottom: 100px;
            .back_site_blur {
                background: linear-gradient(180deg, #1A2B46 0%, rgba(12, 20, 31, 0) 91.28%);
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                .background_image_two_iphone {
                    img {
                        width: 100%;
                    }
                }
                .title_site {
                    padding-top: 94px;
                    padding-left: 4%;
                    padding-right: 4%;
                    .titr {
                        h1 {
                            color: #FFF;
                            font-size: 2.5rem;
                            line-height: 57px; /* 123.913% */
                            text-align: left;
                            font-family: Futura_PT_Light;
                            text-transform: uppercase;
                            animation: slidein 1000ms ease 0.75s backwards;
                            span {
                                color: var(--primary-dark, #284972);
                                font-family: Futura_PT_Light;
                                font-weight: bold;
                            }

                        }

                    }

                    .subtitr {
                        h4 {
                            color: #FFF;
                            font-family: InterDisplay_Regular;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 26px; /* 136.842% */
                            animation: slidein 1000ms ease 1.5s backwards;
                        }
                    }

                    .text_p {
                        p {
                            color: var(--primary-dark, #284972);
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 57px; /* 407.143% */
                            animation: slidein 1000ms ease 0s backwards;
                            margin-bottom: 0rem;
                        }
                    }
                    .button_start {
                        @extend .buttom_2;
                        width: 175px;
                        height: 44px;
                        padding: 9px 0px 0px;
                        margin-top: 25px;
                        animation: slidein_left 1200ms ease 2.5s backwards;

                    }
                    .boxs_live_cryoto {
                        margin-top: 75px;
                        display: flex;
                        align-items: center;
                        border-radius: 8px;
                        background: #111A25;
                        backdrop-filter: blur(7px);
                        padding: 30px 8px;
                        flex-direction: row;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        .border {
                            border-right: solid 1px #1b202600;
                            border-left: solid 1px rgba(27, 32, 38, 0); 
                            padding: 0 0px;
                        }
                        .box {
                            .symbol {
                                @extend .h2_style_2;
                                line-height: 0px;
                                line-height: 57px; /* 237.5% */
                                font-family: InterDisplay_Black;
                                sub {
                                    font-family: InterDisplay_Regular;
                                    font-size: 12px;
                                    background: var(--primary-gradiant, linear-gradient(90deg, #37659E 0.05%, rgba(55, 101, 158, 0.00) 99.91%));
                                    background-clip: text;
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    svg {
                                        margin-right: 2px
                                    }
                                }
                            }
                            .price {
                                color: #C0C0C0;
                                font-family: InterDisplay_Regular;
                                font-size: 18px;
                                sub {
                                    font-family: InterDisplay_Regular;
                                    font-size: 9px;
                                    background: var(--primary-gradiant, linear-gradient(90deg, #37659E 0.05%, rgba(55, 101, 158, 0.00) 99.91%));
                                    background-clip: text;
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    svg {
                                        margin-right: 2px
                                    }
                                }
                            }
                        }
                    }
                }
            }
            //component 1
            .boximg_tabel_crypto {
                padding-left: 5%;
                animation: slidein_left 1200ms ease 1s backwards;
                img {
                    width: 100%;
                    margin-bottom: 35px;
                }
            }

            .text_box_1 {
                display: flex;
                flex-direction: column;
                align-items: center;
 
                .titr1 {
                    h2 {
                        @extend .h2_style_2;
                        font-size: 29px;
                        line-height: 36px; /* 112.5% */
                        text-align: center;
                    }
                }

                .p_textbox_1 {
                    margin-top: 20px;
                    h4 {
                        @extend .p_style_2;
                        font-size: 20px;
                        font-family: poppins_normal;
                        svg {
                            margin-right: 15px
                        }
                    }
                    p {
                        @extend .p_style_2;
                        color: #9BB2D1;
                        font-size: 16px;
                        line-height: 24px; /* 150% */
                        text-align: justify;
                    }
                }
            }
          
            //component 2
            .text_box2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .titr2 {
                    h2 {
                        @extend .h2_style_2;
                        font-size: 30px;
                        line-height: 36px; /* 112.5% */
                        text-align: center;
                    }
                }

                .description_boxs {
                    display: flex;
                    justify-content: center;
                    grid-gap: 10%;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    .de_box {
                        text-align: center;
                        width: 75%;
                        img {
                            margin-top: 30px;
                        }
                        h5 {
                            @extend .p_style_2;
                            font-size: 16px;
                            font-family: poppins_normal;
                            line-height: 36px; /* 112.5% */
                            text-align: inherit;
                            margin-top: 31px;
                        }
                        p {
                            @extend .p_style_2;
                            color: #9BB2D1;
                            font-size: 14px;
                            line-height: 24px; /* 150% */
                            text-align: inherit;
                        }
                    }
                }
            }

            //component 3
            .background_image_comp3 {
                position: absolute;
                display: flex;
                justify-content: flex-start;
                top: 1987px;
                z-index: -2;
            }

            .titr3 {
                h2 {
                    @extend .h2_style_2;
                    font-size: 30px;
                    line-height: 36px; /* 112.5% */
                    text-align: center;
                }
            }

            .text_box3 {

                .p_textbox3 {
                    margin-top: 25px;
                    h5 {
                        @extend .p_style_2;
                        font-size: 20px;
                        font-family: poppins_normal;
                        line-height: 36px; /* 112.5% */
                        margin-bottom: 15px;
                    }
                    p {
                        @extend .p_style_2;
                        color: #9BB2D1;
                        font-size: 16px;
                        line-height: 24px; /* 150% */
                    }
                }

                .Managed_investing {
                    @extend .buttom_2;
                    padding: 10px 11px 11px;
                    margin-top: 25px;
                    border: 1px solid #3598D1;
                    background-color: #28497200;
                    width: 175px;

                    a {
                        padding: 11px 19% 12px;
                        color: var(--primary-dark, #284972);
                        font-size: 15.881px;
                    }
                }
            }
            .boximg_present {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 140px;
                padding-left: 3%;
                @extend .anim-left;
                .box_text {
                    width: 173.892px;
                    height: 159.6px;
                    border-radius: 5px 5px 14px 40px;
                    background: var(--primary-dark, #284972);
                    position: relative;
                    left: 49%;
                    top: -390px;
                    h5 {
                        color: #000;
                        font-family: InterDisplay_Black;
                        font-size: 17.881px;
                        text-transform: capitalize;
                        padding: 26px 25px 18px 38px;
                    }
                }
                img {
                    width: 100%;
                }
            }


            //component 4
             .accordion_box4 {
                display: flex;
                justify-content: center;
                margin: 49px;
             }           
            .faq-container {
                display: flex;
                flex-direction: column;
                gap: 6px;
                width: 95%;
                details {
                    font-size: 1rem;
                    background: #101A27;
                    transition: border-color 0.3s ease-in-out;
                    summary {
                        user-select: none;
                        cursor: pointer;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        padding: 1em;
                        .faq-title {
                            color: #ffffff;
                            font-family: InterDisplay_Thin;
                            font-size: 16px;
                            opacity: 0.65;
                            transition: opacity 250ms ease-in-out;
                        }
            
                    }
        
                    summary::-webkit-details-marker {
                        display: none;
                    }
                    .faq-content {
                        color: #ffffff;
                        padding: 0.2em 1em 1em 1em;
                        font-weight: 300;
                        line-height: 1.5;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.3s ease-out;
                    }
                }
            }
            
            summary:hover .faq-title {
                opacity: 1;
            }

            details[open] .faq-content {
                max-height: 1000px;
            }

            .expand-icon {
                margin-left: auto;
                transition: transform 150ms ease-out;
            }

            details[open] .icon-tabler-circle-plus {
                display: none;
            }

            details:not([open]) .icon-tabler-circle-minus {
                display: none;
            }

            /* Progressive Enhancements for larger screens */
            @media (min-width: 768px) {
                html {
                    font-size: 16px;
                }

                .faq-container {
                    width: 70%;
                    max-width: 800px;
                }
            }


                    

            //////responssive main site
            @include mediaxxl {
            }

            @include mediaxl {
                .back_site_blur {
                    .title_site {
                        padding-top: 220px;
                        padding-left: 6%;
                    }
                    .background_image_two_iphone {
                        img {
                            width: 100%;
                        }
                    }
                }
                .boximg_tabel_crypto {
                    img {
                        width: 100%
                    }
                }
            }

            @include medialg {
                .back_site_blur {
                    .title_site {
                        padding-top: 180px;
                        padding-left: 6%;
                    }
                    .background_image_two_iphone {
                       margin-top: 100px;
                    }
                }
                .boximg_tabel_crypto {
                    img {
                        width: 108%
                    }
                } 
                .box_text {
                    left: 55% !important;
                } 
            }
        }
    }


     /////footer
    footer {
        padding: 4% 10% 2% 10%;
        background: #131E2E;
        .about_toonie {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            grid-gap: 20px;
            align-items: center;
            .about {
                display: flex;
                justify-content: space-between;
                grid-gap: 41px;
            }
            .icons_so_madia {
                display: flex;
                column-gap: 80px;
                align-items: baseline;
                .made {
                    @extend .p_style_2;
                    font-size: 18px;
                }
                .madia {
                    display: flex;
                    column-gap: 12px;
                    align-items: baseline;
                }
            }
        }

        .lists_footer {
            display: flex;
            justify-content: center;
                p {
                    @extend .p_style_2;
                    color: #355076;
                    font-family: InterDisplay_Regular;
                }
             
        }
        
    }
}




//////////////////////////////dashboaed page


body.dashboard {
    background-image: url(../img/Group_backgrund_dash.png);
    background-color: $backgrundcolor;
    background-repeat: no-repeat;
    .sidebar {
        background: $backgrundcolor;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid;
        .logo {
            margin: 25px 0 50px 35px;
            width: 60%;
        }
        .detail_profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
            

            .Profile {
                display: flex;
                flex-direction: column;
                align-items: center;
                .photo_user {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 100px;
                    overflow: hidden;
                    width: 86px;
                    margin-bottom: 15px;

                    .MuiAvatar_root {
                        border-radius: 50%;
                        overflow: hidden;
                        user-select: none;
                        width: 85px;
                        height: 83px;
                        position: relative;
                        top: 20px;
                        img {
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            object-fit: cover;
                            color: transparent;
                            text-indent: 10000px;
                        }
                    }
                    .MuiBox_root {
                        width: 100%;
                        height: 20px;
                        background-color: #284972;
                        opacity: 0.8;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span {
                            color: #FFF;
                            text-align: center;
                            font-family: Futura_PT_normal;
                            font-size: 14px;
                        }
                    }
                
                }
                .name_user {
                    h3 {
                        color:  #F5F6FF;
                        /* popinse/desktop/lable/demibold */
                        font-family: poppins_normal;
                        font-size: 16px;
                    }
                }
            }
            .banner {
                margin-bottom: 25px;
            }
           
        }
        .item-dashbord {

            .list_items_dash {
                list-style: none;
                display: flex;
                padding-left: 0rem;
                flex-direction: column;
                margin-left: -4px;

                .item_dash {
                    font-family: poppins_Regular;
                    font-size: 16px;
                    border-radius: 8px;
                    a {
                        color: #777;
                        padding: 15px 35px 15px 25px;
                        display: block;
                        svg {
                            margin-right: 16px;
                            fill: #777777;
                        }
                    }

                    &:hover, &:active {
                        background: var(--Primary-Dark, #284972);
                        a {
                            color: #ffffff;
                            svg {
                                margin-right: 16px;
                                fill: rgb(255, 255, 255)!important;
                            }
                        }
                    }
                }
            }
        }
    }

    
    .mobile-header {
        height: 84px;
        align-items: center;
        display: flex;
        z-index: 3;
        position: fixed;
        width: 100%;
    }

    .mob-heder-row {
        display: flex;
        align-items: center;
    }

    .ct-menu-mobile {
        display: flex;
        justify-content: flex-end;
        grid-gap: 25px;
    }

    .menu {
        height: 100vh;
        width: 68%;
        top: 0;
        left: -100%;
        transition: all 0.3s ease-in;
        position: absolute;
        overflow: scroll;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            flex-direction: column;

            li {
                margin: 10px 7px;

                a {
                    display: block;
                    padding: 0px 35px;
                    color: #ffffff;
                    text-decoration: none;
                    font-size: 18px;
                }
            }
        }   
        
        
    }
     /* Show menu in open state */
     .show {
        left: -4px;
        transition: all 0.3s ease-in;
        z-index: 10;
    }

    .menu-btn {
        width: 30%;
        position: relative;
        left: -8%;
        z-index: 11;
        border: solid #9d9d9d 0px;
        border-radius: 8px;
        top: -2px;
        display: block;
        background: #09111b00;
    }


}


/////////////////////////////regesters
/// 
/// 
body.regesters {
    height: 100%;
    width: 100%; 
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;
    background-color: #09111B;
    
    @extend .headermobi;
    .mobile-header {
      z-index: 24;
    }
    /*end sub menu*/
    /* hader mobile */
    main.sing {
        margin-top: 25%;
        position: absolute;
        z-index: 21;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        row-gap: 20px;
        justify-content: center;

        .return_home, .title_page, .form  {
            width: 92%;
            min-width: 360px;
        }
        .title_page {
            h1 {
                @extend .h2_style;
                font-size: 36.226px;
            }
                
        }

        @extend .form;

        .foget {
            position: relative;
            top: -33px;
        }
        .showpass {
            position: relative;
            left: 88%;
            top: -37px;
        }
        .Terms {
            margin-top: 22px;
            p {
                @extend .p_style_mo;
                text-align: center;
                font-size: 12px;
                font-family: poppins_Regular;
                
            }
        }
        .or_login_with {
            min-width: 360px;
            width: 92%;
            .titrloging{
                p {
                    color: aliceblue;
                    font-size: 12px;
                    text-align: center;
                    margin-bottom: -23px;
                    font-family: poppins_Regular;
                }
            }
            .account_s {
                display: flex;
                justify-content: space-between;
                .account {
                    display: flex;
                    width: 45%;
                    border-radius: 8px;
                    border: 1px solid var(--Primary-BG-neutral-darkest, #343434);
                    background: var(--filds-dark, #0C1218);
                    justify-content: center;
                    align-items: center;
                    a {
                        padding: 11px 55px;
                    }
                    &:hover {
                        background: var(--filds-dark, #0e2138);
                    }
                }
            }
        }
    }
}