* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Futura_PT_Light;
    src: url(../font/FuturaCyrillicLight.ttf) format('truetype');
}

@font-face {
    font-family: Futura_PT_normal;
    src: url(../font/FuturaCyrillicMedium.ttf) format('truetype');
}

@font-face {
    font-family: poppins_normal;
    src: url(../font/Poppins-Medium.ttf) format('truetype');
}
@font-face {
    font-family: poppins_Regular;
    src: url(../font/Poppins-Regular.ttf) format('truetype');
}
@font-face {
    font-family: poppins_Light;
    src: url(../font/Poppins-Light.ttf) format('truetype');
}
@font-face {
    font-family: poppins_Thin;
    src: url(../font/Poppins-Thin.ttf) format('truetype');
}

a {
    text-decoration: none;
}

$btn_color : #284972;

.p_style {
    color: #FFF;
    font-family: poppins_normal;
    font-size: 14.344px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.874px;
    letter-spacing: 0.857px;
    text-align: start;
    padding-right: 100px;
}

.h2_style {
    color: #FFF;
    font-family: Futura_PT_normal;
    font-size: 44.226px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Separator_100 {
    padding: 100px;
}
.Separator_50 {
    padding: 50px;
}
.Separator_35 {
    padding: 35px;
}
.buttom {
    display: flex;
    justify-content: center;
    margin-top: -75px;

    a {
        background: $btn_color;
        color: #FFF;
        border-radius: 9.556px;
        padding: 11px 50px 12px;
    }
}
.buttom_mo {
    display: flex;
    justify-content: center;
    margin-top: -75px;

    a {
        background: $btn_color;
        color: #FFF;
        border-radius: 15.556px;
        padding: 11px 30% 12px;
        width: 100%;
        text-align: center;    
    }
}
.p_style_mo {
    color: #FFF;
    font-family: poppins_Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.874px;
    letter-spacing: 0.857px;
    text-align: start;
}

.h2_style_mo {
    color: #FFF;
    font-family: Futura_PT_normal;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
}

.padding-0 {
    padding: 0px;
}
