* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Futura_PT_Light;
    src: url(../font/FuturaCyrillicLight.ttf) format('truetype');
}

@font-face {
    font-family: Futura_PT_normal;
    src: url(../font/FuturaCyrillicMedium.ttf) format('truetype');
}
@font-face {
    font-family: Futura_PT_Bold;
    src: url(../font/FuturaCyrillicBold.ttf) format('truetype');
}



///////////////poppins
@font-face {
    font-family: poppins_normal;
    src: url(../font/Poppins-Medium.ttf) format('truetype');
}
@font-face {
    font-family: poppins_Regular;
    src: url(../font/Poppins-Regular.ttf) format('truetype');
}
@font-face {
    font-family: poppins_Light;
    src: url(../font/Poppins-Light.ttf) format('truetype');
}
@font-face {
    font-family: poppins_Thin;
    src: url(../font/Poppins-Thin.ttf) format('truetype');
}

/////////////InterDisplay
@font-face {
    font-family: InterDisplay_Black;
    src: url(../font/InterDisplay-Black.woff2) format('woff2');
}
@font-face {
    font-family: InterDisplay_Bold;
    src: url(../font/InterDisplay-Bold.woff2) format('woff2');
}
@font-face {
    font-family: InterDisplay_Medium;
    src: url(../font/InterDisplay-Medium.woff2) format('.woff2');
}
@font-face {
    font-family: InterDisplay_Regular;
    src: url(../font/InterDisplay-Regular.woff2) format('woff2');
}
@font-face {
    font-family: InterDisplay_Thin;
    src: url(../font/InterDisplay-Thin.woff2) format('woff2');
}


a {
    text-decoration: none;
}
///////////color
$btn_color : #284972;
$backgrundcolor :#09111B ;


////////////end color

.p_style {
    color: #FFF;
    font-family: poppins_normal;
    font-size: 14.344px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.874px;
    letter-spacing: 0.857px;
    text-align: start;
    padding-right: 100px;
}

.h2_style {
    color: #FFF;
    font-family: Futura_PT_normal;
    font-size: 44.226px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Separator_100 {
    padding: 100px;
}
.Separator_50 {
    padding: 50px;
}
.Separator_35 {
    padding: 35px;
}
.buttom {
    display: flex;
    justify-content: center;
    margin-top: -75px;

    a {
        background: $btn_color;
        color: #FFF;
        border-radius: 9.556px;
        padding: 11px 50px 12px;
    }
}

.buttom_mo {
    display: flex;
    justify-content: center;
    margin-top: -75px;

    a {
        background: $btn_color;
        color: #FFF;
        border-radius: 15.556px;
        padding: 11px 30% 12px;
        width: 100%;
        text-align: center;    
    }
}
.p_style_mo {
    color: #FFF;
    font-family: poppins_Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.874px;
    letter-spacing: 0.857px;
    text-align: start;
}

.h2_style_mo {
    color: #FFF;
    font-family: Futura_PT_normal;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
}

.padding-0 {
    padding: 0px;
}

/////new page style

.p_style_2 {
    color: #FFF;
    font-family: InterDisplay_Regular;
    font-size: 14.344px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.874px;
    letter-spacing: 0.857px;
    text-align: start;
}

.h2_style_2 {
    font-family: Futura_PT_Bold;
    color: var(--primary-dark, #284972);
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 57px; /* 237.5% */
}
.buttom_2 {
    border-radius: 4px 4px 4px 20px;
    padding: 5px 33px 7px;
    background: #37659E;
    text-align: center;
    a {
        
        color: #FFF;
    }
}